﻿@model IEnumerable<PEP369APP.Models.tblTask>

@{
    ViewBag.Title = "Pep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />    
</head>
<body>
    <div class="col-md-12 p0 containers" location="[object Object]" computedmatch="[object Object]">
        <div class="col-md-12 mt-2">
            <button class="buttonDisplayClick">Self Reviews </button>
            <button class="buttonDisplayClick">
                <a href="/tblTasks/Create">AddTask</a>
             </button>
            <div class="card" style="left: 0%; width: 100%;">
                <div class="card-body p0">
                    <div class="col-md-12 selfReviewDataColumn p0">
                        <div class="col-md-3 selfReviewfYear mt-1 p0">
                            <label class="col-md-4 p0 mt-1" style="color: rgb(84, 84, 84);">
                                Financial Year<span style="color: red;">*</span>
                            </label>
                            <div class="col-md-1 p0 mt-1">
                                :
                            </div>
                            <select id="financialYear" name="financialYear" class="form-control" style="width: 55%; appearance: menulist;">
                                <option value="1">2018-2019 </option>
                                <option value="2">2019-2020 </option>
                                <option value="3">2020-2021 </option>
                                <option value="4">2021-2022 </option>
                                <option value="5">2022-2023 </option>
                            </select>
                        </div>
                        <div class="col-md-3 selfReviewQuarter mt-1 p0" style="padding-left: 30px;">
                            <label class="col-md-4 p0 mt-1" style="color: rgb(84, 84, 84);">
                                Select Quarter<span style="color: red;">*</span>
                            </label>
                            <div class="col-md-1 p0 mt-1">
                                :
                            </div>
                            <select id="quarter" name="quarter" class="form-control" style="width: 55%; appearance: menulist;">
                                <option value="1">Q1 (Apr-Jun)</option>
                                <option value="2">Q2 (Jul-Sep)</option>
                                <option value="3">Q3 (Oct-Dec)</option>
                                <option value="4">Q4 (Jan-Mar)</option>
                            </select>
                        </div>
                        <div class="col-md-2 p0" style="padding-left: 70px;">
                            <button class="button class btn-primary mx-1">
                                <i class="fa fa-search">
                                </i>&nbsp;
                                Search
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12 p0 mb2">
                    </div>
                    <div class="col-md-12 p0 mb2">
                        <div>
                            @*<button type="button" variant="primary" class="btn btn-xs btn-primary center pull-right comBtn" id="SksearchBtn">
                            <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="DownloadIcon">
                                <path d="M5 20h14v-2H5v2zM19 9h-4V3H9v6H5l7 7 7-7z">
                                </path>
                            </svg>Export
                        </button>*@
                        </div>
                    </div>
                    <div class="col-md-12 p0 mt-2 selfreviewpromotiondata">
                        <button type="button" class="btn btn-xs btn-primary center pull-left" title="Review On the Moment Requests">
                            <i class="fa fa-comments">
                            </i>Review OTM Requests
                        </button>
                        <div class="col-md-7 col-md-offset-1 promotionTable p0 " style="margin-left: 70px;">
                            <div class="panelHd mb0 mt0" style="margin-bottom: 0px; font-size: 12px;">
                                <div>Promotion Status</div>
                            </div>
                            <div class="col-md-12 p0">
                                <div class="col-md-12 p0">
                                    <div class="col-md-4 p0 promotionData" id="cdpData" style="border: 3px solid rgb(221, 221, 221);">
                                        <div class="col-md-6 p0 ">
                                            <div style="color: rgb(32, 123, 175); font-size: 10px; width: 39px; margin-left: 5px; font-weight: bold; margin-top: 3px;">CDP</div>
                                        </div>
                                        <div class="col-md-6 p0" style="background: rgb(238, 238, 238);">
                                            <div class="progress" style="height: 14px; position: relative; background-color: rgb(246, 208, 208); margin: 5px 10%;">
                                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                                    <div class="progress-bar-title" style="position: absolute; text-align: center; line-height: 20px; overflow: hidden; color: black; right: 0px; left: 0px; top: 0px; font-size: 10px;">0%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 p0 promotionData" id="complianceData" style="border: 3px solid rgb(221, 221, 221);">
                                        <div class="col-md-6 p0">
                                            <span style="color: rgb(32, 123, 175); font-size: 10px; margin-left: 3px; font-weight: bold;">ComplianceCourse</span>
                                        </div>
                                        <div class="col-md-6 p0" style="background: rgb(238, 238, 238);">
                                            <div class="progress" style="height: 14px; margin: 5px 10%; position: relative; background-color: rgb(246, 208, 208);">
                                                <div class="progress-bar progress-bar-stripedbg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                                </div>
                                                <div class="progress-bar-title" style="position: absolute; text-align: center; line-height: 20px; overflow: hidden; color: black; right: 0px; left: 0px; top: 0px; font-size: 10px;">25%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 p0 promotionData" id="learningHrsdata" style="border: 3px solid rgb(221, 221, 221);">
                                        <div class="col-md-6 p0">
                                            <span style="color: rgb(32, 123, 175); font-size: 10px; margin-left: 3px; font-weight: bold;">Learning Hrs (40 hrs)</span>
                                        </div>
                                        <div class="col-md-6 p0" style="background: rgb(238, 238, 238);">
                                            <div class="progress" style="height: 14px; position: relative; background-color: rgb(246, 208, 208); margin: 5px 10%;">
                                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                                </div>
                                                <div class="progress-bar-title" style="position: absolute; text-align: center; line-height: 20px; overflow: hidden; color: black; right: 0px; left: 0px; top: 0px; font-size: 10px;">17 Hrs</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-xs btn-primary center pull-right comBtn">
                            <i class="fa fa-comments">
                            </i>On The Moment
                        </button>
                    </div>
                </div>

                <div class="col-md-12 p0 mt-2">
                    <div class="col-md-12 p0 selfReviewFrm">
                        <div class="objectiveHd mt-2" title="Performance Goals">
                            <span class="objectiveSubHd pull-left">Performance Goals</span>
                            <button class="btn btn-primary pull-right" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Expand Goals</button>
                            <div class="pull-right mt-1">
                                <div class="progress" style="height: 18px; width: 140px; margin-right: 5px; position: relative;">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    </div>
                                    <div class="progress-bar-title" style="position: absolute; text-align: center; line-height: 20px; overflow: hidden; color: black; right: 0px; left: 0px; top: 0px;">0%</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-12 p0">
                                <div class="col-md-12 p0">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed my-jquery-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="text-align: left; padding-top:0; padding-bottom:0; color: gray;">
                                                    <span class="col-md-6" style="text-align: left; color: gray; font-size: 14px;">Financial</span>
                                                    <span class="col-md-5 d-flex justify-content-end">
                                                        <span class="statistics pull-right   progressStats " style="color: rgb(244, 173, 73); margin-right: -40px;">Weight : 0</span>
                                                        <span class="mr5 selfprogrssline" style="margin-left: 3px;">|</span>
                                                        <span class="statistics pull-right progressStats " style="color: rgb(244, 173, 73);">Total Objectives : 0</span>
                                                        <span class="mr5 ml0 selfprogrssline" style="margin-left: 3px;">|</span>
                                                        <span class="statistics pull-right  ml4 m6  progressStats" style="color: rgb(244, 173, 73);">Progress : 0 %</span>

                                                    </span>
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse multi-collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.Objective)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.Description)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.Review)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.StartDate)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.EndDate)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.Status)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.Completed)
                                                                </th>

                                                                <th class="expand-cell-header" data-row-selection="true">
                                                                    <div>
                                                                        @Html.DisplayNameFor(model => model.Action)
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(model => item.Objective)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => item.Description)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => item.Review)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => item.StartDate)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => item.EndDate)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => item.Status)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => item.Completed)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => item.Action)
                                                                    </td>

                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion accordion-flush" id="accordionFlushExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingTwo">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="text-align: left; padding-top:0; padding-bottom:0; color: gray;">
                                                        <span class="col-md-6" style="text-align: left; color: gray; font-size: 14px;">Operational</span>
                                                        <span class="col-md-5 d-flex justify-content-end">
                                                            <span class="statistics pull-right   progressStats " style="color: rgb(244, 173, 73); margin-right: -40px;">Weight : 0</span>
                                                            <span class="mr5 selfprogrssline" style="margin-left: 3px;">|</span>
                                                            <span class="statistics pull-right progressStats " style="color: rgb(244, 173, 73);">Total Objectives : 0</span>
                                                            <span class="mr5 ml0 selfprogrssline" style="margin-left: 3px;">|</span>
                                                            <span class="statistics pull-right  ml4 m6  progressStats" style="color: rgb(244, 173, 73);">Progress : 0 %</span>
                                                        </span>
                                                    </button>
                                                </h2>
                                                <div id="flush-collapseTwo" class="accordion-collapse collapse multi-collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Objective)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Description)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Review)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.StartDate)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.EndDate)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Status)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Completed)
                                                                    </th>

                                                                    <th class="expand-cell-header" data-row-selection="true">
                                                                        <div>
                                                                            @Html.DisplayNameFor(model => model.Action)
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Objective)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Description)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Review)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.StartDate)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.EndDate)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Status)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Completed)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Action)
                                                                        </td>

                                                                    </tr>
                                                                }

                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion accordion-flush" id="accordionFlushExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingThree">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" style="text-align: left; padding-top:0; padding-bottom:0; color: gray;">
                                                        <span class="col-md-6" style="text-align: left; color: gray; font-size: 14px;">Customer</span>
                                                        <span class="col-md-5 d-flex justify-content-end ml0">
                                                            <span class="statistics pull-right   progressStats " style="color: rgb(244, 173, 73); margin-right: -40px;">Weight : 0</span>
                                                            <span class="mr5 selfprogrssline" style="margin-left: 3px;">|</span>
                                                            <span class="statistics pull-right progressStats " style="color: rgb(244, 173, 73);">Total Objectives : 0</span>
                                                            <span class="mr5 ml0 selfprogrssline" style="margin-left: 3px;">|</span>
                                                            <span class="statistics pull-right  ml4 m6  progressStats" style="color: rgb(244, 173, 73);">Progress : 0 %</span>

                                                        </span>
                                                    </button>
                                                </h2>
                                                <div id="flush-collapseThree" class="accordion-collapse collapse multi-collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Objective)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Description)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Review)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.StartDate)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.EndDate)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Status)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Completed)
                                                                    </th>

                                                                    <th class="expand-cell-header" data-row-selection="true">
                                                                        <div>
                                                                            @Html.DisplayNameFor(model => model.Action)
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Objective)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Description)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Review)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.StartDate)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.EndDate)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Status)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Completed)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Action)
                                                                        </td>

                                                                    </tr>
                                                                }

                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion accordion-flush" id="accordionFlushExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingFour">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" style="text-align: left; padding-top:0; padding-bottom:0; color: gray;">
                                                        <span class="col-md-6" style="text-align: left; color: gray; font-size: 14px;">Learning and Growth</span>
                                                        <span class="col-md-5 d-flex justify-content-end ml0">
                                                            <span class="statistics pull-right   progressStats " style="color: rgb(244, 173, 73); margin-right: -40px;">Weight : 0</span>
                                                            <span class="mr5 selfprogrssline" style="margin-left: 3px;">|</span>
                                                            <span class="statistics pull-right progressStats " style="color: rgb(244, 173, 73);">Total Objectives : 0</span>
                                                            <span class="mr5 ml0 selfprogrssline" style="margin-left: 3px;">|</span>
                                                            <span class="statistics pull-right  ml4 m6  progressStats" style="color: rgb(244, 173, 73);">Progress : 0 %</span>

                                                        </span>
                                                    </button>
                                                </h2>
                                                <div id="flush-collapseFour" class="accordion-collapse collapse multi-collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Objective)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Description)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Review)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.StartDate)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.EndDate)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Status)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Completed)
                                                                    </th>

                                                                    <th class="expand-cell-header" data-row-selection="true">
                                                                        <div>
                                                                            @Html.DisplayNameFor(model => model.Action)
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Objective)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Description)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Review)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.StartDate)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.EndDate)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Status)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Completed)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Action)
                                                                        </td>

                                                                    </tr>
                                                                }

                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion accordion-flush" id="accordionFlushExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingFive">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive" style="text-align: left; padding-top:0; padding-bottom:0; color: gray;">
                                                        <span class="col-md-6" style="text-align: left; color: gray; font-size: 14px;">Others</span>
                                                        <span class="col-md-5 d-flex justify-content-end ml0">
                                                            <span class="statistics pull-right   progressStats " style="color: rgb(244, 173, 73); margin-right: -40px;">Weight : 0</span>
                                                            <span class="mr5 selfprogrssline" style="margin-left: 3px;">|</span>
                                                            <span class="statistics pull-right progressStats " style="color: rgb(244, 173, 73);">Total Objectives : 0</span>
                                                            <span class="mr5 ml0 selfprogrssline" style="margin-left: 3px;">|</span>
                                                            <span class="statistics pull-right  ml4 m6  progressStats" style="color: rgb(244, 173, 73);">Progress : 0 %</span>

                                                        </span>
                                                    </button>
                                                </h2>
                                                <div id="flush-collapseFive" class="accordion-collapse collapse multi-collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Objective)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Description)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Review)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.StartDate)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.EndDate)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Status)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Completed)
                                                                    </th>

                                                                    <th class="expand-cell-header" data-row-selection="true">
                                                                        <div>
                                                                            @Html.DisplayNameFor(model => model.Action)
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Objective)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Description)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Review)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.StartDate)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.EndDate)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Status)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Completed)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(model => item.Action)
                                                                        </td>

                                                                    </tr>
                                                                }

                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class=" col-md-12 p0 mt-3">
                                <div class=" objectiveHd mt-2" title=" Behavioural Goals">
                                    <span class=" objectiveSubHd pull-left">Behavioural Goals</span>
                                    <button class="btn btn-primary pull-right" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse1" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Expand Goals</button>
                                    <div class=" pull-right mt-1">
                                        <div class=" progress" style=" height: 18px; width: 140px; margin-right: 5px; position: relative;">
                                            <div class=" progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuemin=" 0" aria-valuemax=" 100" style=" width: 0%;">
                                            </div>
                                            <div class=" progress-bar-title" style=" position: absolute; text-align: center; line-height: 20px; overflow: hidden; color: black; right: 0px; left: 0px; top: 0px;">0%</div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12 p0">
                                        <div class="col-md-12 p0">
                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingSix">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix" style="text-align: left; padding-top:0; padding-bottom:0; color: gray;">
                                                            <span class="col-md-6" style="text-align: left; color: gray; font-size: 14px;">Communication</span>
                                                            <span class="col-md-5 d-flex justify-content-end">
                                                                <span class="statistics pull-right   progressStats " style="color: rgb(244, 173, 73); margin-right: -40px;">Weight : 0</span>
                                                                <span class="mr5 selfprogrssline" style="margin-left: 3px;">|</span>
                                                                <span class="statistics pull-right progressStats " style="color: rgb(244, 173, 73);">Total Objectives : 0</span>
                                                                <span class="mr5 ml0 selfprogrssline" style="margin-left: 3px;">|</span>
                                                                <span class="statistics pull-right  ml4 m6  progressStats" style="color: rgb(244, 173, 73);">Progress : 0 %</span>

                                                            </span>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseSix" class="accordion-collapse collapse multi-collapse1" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">

                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Objective)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Description)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Review)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.StartDate)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.EndDate)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Status)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Completed)
                                                                        </th>

                                                                        <th class="expand-cell-header" data-row-selection="true">
                                                                            <div>
                                                                                @Html.DisplayNameFor(model => model.Action)
                                                                            </div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Objective)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Description)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Review)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.StartDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.EndDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Status)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Completed)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Action)
                                                                            </td>

                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingSeven">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven" style="text-align: left; padding-top:0; padding-bottom:0; color: gray;">
                                                            <span class="col-md-6" style="text-align: left; color: gray; font-size: 14px;">Collaboration</span>
                                                            <span class="col-md-5 d-flex justify-content-end">
                                                                <span class="statistics pull-right   progressStats " style="color: rgb(244, 173, 73); margin-right: -40px;">Weight : 0</span>
                                                                <span class="mr5 selfprogrssline" style="margin-left: 3px;">|</span>
                                                                <span class="statistics pull-right progressStats " style="color: rgb(244, 173, 73);">Total Objectives : 0</span>
                                                                <span class="mr5 ml0 selfprogrssline" style="margin-left: 3px;">|</span>
                                                                <span class="statistics pull-right  ml4 m6  progressStats" style="color: rgb(244, 173, 73);">Progress : 0 %</span>

                                                            </span>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseSeven" class="accordion-collapse collapse multi-collapse1" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">

                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Objective)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Description)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Review)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.StartDate)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.EndDate)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Status)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Completed)
                                                                        </th>

                                                                        <th class="expand-cell-header" data-row-selection="true">
                                                                            <div>
                                                                                @Html.DisplayNameFor(model => model.Action)
                                                                            </div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Objective)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Description)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Review)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.StartDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.EndDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Status)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Completed)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Action)
                                                                            </td>

                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingEight">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight" style="text-align: left; padding-top:0; padding-bottom:0; color: gray;">
                                                            <span class="col-md-6" style="text-align: left; color: gray; font-size: 14px;">Accountability</span>
                                                            <span class="col-md-5 d-flex justify-content-end">
                                                                <span class="statistics pull-right   progressStats " style="color: rgb(244, 173, 73); margin-right: -40px;">Weight : 0</span>
                                                                <span class="mr5 selfprogrssline" style="margin-left: 3px;">|</span>
                                                                <span class="statistics pull-right progressStats " style="color: rgb(244, 173, 73);">Total Objectives : 0</span>
                                                                <span class="mr5 ml0 selfprogrssline" style="margin-left: 3px;">|</span>
                                                                <span class="statistics pull-right  ml4 m6  progressStats" style="color: rgb(244, 173, 73);">Progress : 0 %</span>

                                                            </span>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseEight" class="accordion-collapse collapse multi-collapse1" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">

                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Objective)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Description)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Review)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.StartDate)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.EndDate)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Status)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Completed)
                                                                        </th>

                                                                        <th class="expand-cell-header" data-row-selection="true">
                                                                            <div>
                                                                                @Html.DisplayNameFor(model => model.Action)
                                                                            </div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Objective)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Description)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Review)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.StartDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.EndDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Status)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Completed)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Action)
                                                                            </td>

                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingNine">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine" style="text-align: left; padding-top:0; padding-bottom:0; color: gray;">
                                                            <span class="col-md-6" style="text-align: left; color: gray; font-size: 14px;">Time management</span>
                                                            <span class="col-md-5 d-flex justify-content-end">
                                                                <span class="statistics pull-right   progressStats " style="color: rgb(244, 173, 73); margin-right: -40px;">Weight : 0</span>
                                                                <span class="mr5 selfprogrssline" style="margin-left: 3px;">|</span>
                                                                <span class="statistics pull-right progressStats " style="color: rgb(244, 173, 73);">Total Objectives : 0</span>
                                                                <span class="mr5 ml0 selfprogrssline" style="margin-left: 3px;">|</span>
                                                                <span class="statistics pull-right  ml4 m6  progressStats" style="color: rgb(244, 173, 73);">Progress : 0 %</span>

                                                            </span>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseNine" class="accordion-collapse collapse multi-collapse1" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">

                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Objective)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Description)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Review)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.StartDate)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.EndDate)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Status)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Completed)
                                                                        </th>

                                                                        <th class="expand-cell-header" data-row-selection="true">
                                                                            <div>
                                                                                @Html.DisplayNameFor(model => model.Action)
                                                                            </div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Objective)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Description)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Review)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.StartDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.EndDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Status)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Completed)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Action)
                                                                            </td>

                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="flush-headingTen">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen" style="text-align: left; padding-top:0; padding-bottom:0; color: gray;">
                                                            <span class="col-md-6" style="text-align: left; color: gray; font-size: 14px;">Critical feedback</span>
                                                            <span class="col-md-5 d-flex justify-content-end">
                                                                <span class="statistics pull-right   progressStats " style="color: rgb(244, 173, 73); margin-right: -40px;">Weight : 0</span>
                                                                <span class="mr5 selfprogrssline" style="margin-left: 3px;">|</span>
                                                                <span class="statistics pull-right progressStats " style="color: rgb(244, 173, 73);">Total Objectives : 0</span>
                                                                <span class="mr5 ml0 selfprogrssline" style="margin-left: 3px;">|</span>
                                                                <span class="statistics pull-right  ml4 m6  progressStats" style="color: rgb(244, 173, 73);">Progress : 0 %</span>

                                                            </span>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseTen" class="accordion-collapse collapse multi-collapse1" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">

                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Objective)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Description)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Review)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.StartDate)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.EndDate)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Status)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Completed)
                                                                        </th>

                                                                        <th class="expand-cell-header" data-row-selection="true">
                                                                            <div>
                                                                                @Html.DisplayNameFor(model => model.Action)
                                                                            </div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Objective)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Description)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Review)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.StartDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.EndDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Status)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Completed)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(model => item.Action)
                                                                            </td>

                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>    
</body>