﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PEP369</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/5.6e3e4e65.chunk.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/main.0d185b81.chunk.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://codesandbox.io/s/wild-paper-77bnvc?fontsize=14&hidenavigation=1&theme=dark&file=/src/DropDown.js">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />


    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />

</head>
<body>
    <div id="root">
        <div class="App">
            <div>
                <div>
                    <div class="col-md-12 header">
                        <div class="col-md-6 mt-2">
                            <div class="logo">
                                <a href="/">
                                    <img src="~/Content/download.png" alt="download.png" width="66" height="31">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="searchBar col-md-6 p0 mt-2">
                                <select name="cars" id="cars" class="col-md-4">
                                    <option value="Employee">Employee</option>
                                    <option value="Skills">Skills</option>
                                    <option value="Hobbies">Hobbies</option>
                                </select>
                                <div class="searchInputContainer col-md-8 p0 ">
                                        <div class="MuiAutocomplete-root MuiAutocomplete-hasClearIcon MuiAutocomplete-hasPopupIcon" role="combobox" aria-expanded="false" sx="[object Object]">
                                            <div class="MuiFormControl-root MuiTextField-root MuiFormControl-fullWidth">
                                                <div class="MuiInputBase-root MuiInput-root MuiInput-underline MuiAutocomplete-inputRoot MuiInputBase-fullWidth MuiInput-fullWidth MuiInputBase-formControl MuiInput-formControl MuiInputBase-adornedEnd">
                                                    <input aria-invalid="false" autocomplete="off" id="combo-box-demo" type="text" class="MuiInputBase-input MuiInput-input MuiAutocomplete-input MuiAutocomplete-inputFocused MuiInputBase-inputAdornedEnd" aria-autocomplete="list" autocapitalize="none" spellcheck="false" value="">
                                                    <div class="MuiAutocomplete-endAdornment">
                                                        <button class="MuiButtonBase-root MuiIconButton-root MuiAutocomplete-clearIndicator" tabindex="-1" type="button" aria-label="Clear" title="Clear">
                                                            <span class="MuiIconButton-label">
                                                                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeSmall" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                                                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                                                                    </path>
                                                                </svg>
                                                            </span>
                                                            <span class="MuiTouchRipple-root">
                                                            </span>
                                                        </button>
                                                        <button class="MuiButtonBase-root MuiIconButton-root MuiAutocomplete-popupIndicator" tabindex="-1" type="button" aria-label="Open" title="Open">
                                                            <span class="MuiIconButton-label">
                                                                <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                                                    <path d="M7 10l5 5 5-5z">
                                                                    </path>
                                                                </svg>
                                                            </span>
                                                            <span class="MuiTouchRipple-root">
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class=" col-md-6 topIcons mt-1" style="padding-left: 40px;">
                                    <div class="col-md-2 ">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="universal-access" class="svg-inline--fa fa-universal-access fa-w-16 headIcon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path fill="currentColor" d="M256 48c114.953 0 208 93.029 208 208 0 114.953-93.029 208-208 208-114.953 0-208-93.029-208-208 0-114.953 93.029-208 208-208m0-40C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 56C149.961 64 64 149.961 64 256s85.961 192 192 192 192-85.961 192-192S362.039 64 256 64zm0 44c19.882 0 36 16.118 36 36s-16.118 36-36 36-36-16.118-36-36 16.118-36 36-36zm117.741 98.023c-28.712 6.779-55.511 12.748-82.14 15.807.851 101.023 12.306 123.052 25.037 155.621 3.617 9.26-.957 19.698-10.217 23.315-9.261 3.617-19.699-.957-23.316-10.217-8.705-22.308-17.086-40.636-22.261-78.549h-9.686c-5.167 37.851-13.534 56.208-22.262 78.549-3.615 9.255-14.05 13.836-23.315 10.217-9.26-3.617-13.834-14.056-10.217-23.315 12.713-32.541 24.185-54.541 25.037-155.621-26.629-3.058-53.428-9.027-82.141-15.807-8.6-2.031-13.926-10.648-11.895-19.249s10.647-13.926 19.249-11.895c96.686 22.829 124.283 22.783 220.775 0 8.599-2.03 17.218 3.294 19.249 11.895 2.029 8.601-3.297 17.219-11.897 19.249z">
                                                </path>
                                            </svg>
                                            <p>Bio</p>
                                    </div>
                                    <div class="col-md-2">
                                            <i class="fa fa-hand-pointer-o headIcon" style="padding-left: 22px;">
                                            </i>
                                            <p style="text-align: center;">Attendance</p>
                                    </div>
                                    <div class="col-md-2 px-5 loguticn ">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-out-alt" class="svg-inline--fa fa-sign-out-alt fa-w-16 headIcon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z">
                                                </path>
                                            </svg>
                                            <p style="text-align: center;">Logout</p>
                                    </div>
                            </div>
                            <div class="col-md-12">
                                    <div class="col-md-4" style="width:50%;">
                                    </div>
                            </div>
                        </div>




                        <div align="center">
                        </div>
                        <div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p0">
                            <div class="col-md-12 p0 navigationBar">
                                    <div class="col-md-12 navigationBar">
                                            <div class="d-inline-block dropdown">
                                                <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-secondary">
                                                    <a href="/">Dashboard</a>
                                                </button>
                                                <div>
                                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
                                                        <h6 tabindex="-1" class="dropdown-header">
                                                            <a href="/overview">
                                                                <span>Overview</span>
                                                            </a>
                                                        </h6>
                                                        <h6 tabindex="-1" class="dropdown-header">
                                                            <a href="/pep369">
                                                                <span>PEP - 369°</span>
                                                            </a>
                                                        </h6>
                                                        <h6 tabindex="-1" class="dropdown-header">
                                                            <a href="/dashProu">
                                                                <span>ProU</span>
                                                            </a>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-inline-block dropdown">
                                                <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-secondary">
                                                    <a href="">You</a>
                                                </button>
                                                <div>
                                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
                                                        <h6 tabindex="-1" class="dropdown-header">
                                                            <a href="/profile">
                                                                <span>Profile</span>
                                                            </a>
                                                        </h6>
                                                        <h6 tabindex="-1" class="dropdown-header">
                                                            <a href="/timeOff">
                                                                <span>Time Off</span>
                                                            </a>
                                                        </h6>
                                                        <h6 tabindex="-1" class="dropdown-header">
                                                            <a href="/jobDetails">
                                                                <span>Job Details</span>
                                                            </a>
                                                        </h6>
                                                        <h6 tabindex="-1" class="dropdown-header">
                                                            <a href="/documents">
                                                                <span>Docs</span>
                                                            </a>
                                                        </h6>
                                                        <h6 tabindex="-1" class="dropdown-header">
                                                            <a href="/travel">
                                                                <span>Travel</span>
                                                            </a>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-inline-block dropdown">
                                                <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-secondary">
                                                    <a href="/approvals">Pending Approvals</a>
                                                </button>
                                            </div>
                                    </div>
                            </div>
                            
                </div>
            </div>
        </div>
    </div>

   

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class=" col-md-12 p0 footer pt-2">
            <div class=" container container-fluid align-v-center">
                <div class=" ourMission social col-md-4 text-center">
                    <div class=" d-flex justify-content-center social-links mt-1">
                        <a href=" #" class=" twitter">
                            <i class=" fa fa-twitter">
                            </i>
                        </a>
                        <a href=" #" class=" facebook">
                            <i class=" fa fa-facebook">
                            </i>
                        </a>
                        <a href=" #" class=" instagram">
                            <i class=" fa fa-instagram">
                            </i>
                        </a>
                        <a href=" #" class=" google-plus">
                            <i class=" fa fa-skype">
                            </i>
                        </a>
                        <a href=" #" class=" linkedin">
                            <i class=" fa fa-linkedin">
                            </i>
                        </a>
                    </div>
                    <div class=" clear" height=" 30">
                    </div>
                    <div class=" copyRights font-sm pb-2">CopyRight@2022 Prolifics. All Rights reserved.</div>
                </div>
                <div class=" ourMission col-md-4">
                    <div>
                        <h4>Our Mission</h4>
                        <p class=" p0 font-sm mb-0">To be a trusted technology advisor and provider of high-business value, technology solutions</p>
                    </div>
                </div>
                <div class=" ourMission vision col-md-4">
                    <div>
                        <h4>Our Vision</h4>
                        <p class=" p0 font-sm mb-0">To be one of the most admired global technology consulting companies, delivering competitive advantage to our clients.</p>
                    </div>
                </div>
                <div class=" clear">
                </div>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    
    <link href="~/Content/5.6e3e4e65.chunk.css" rel="stylesheet" />
    <link href="~/Content/main.0d185b81.chunk.css" rel="stylesheet" />

  </div>
</body>
</html>
